{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Photo Uploader</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
  </head>
  <body>
    <div class="container">
      <div id="home" class="flex-center flex-column">
        
        <a class="btn" href="/accounts/login/"><h1>Welcome to Photo Uploader</h1></a>

        <h2>Copyright 2021 &copy; BY INGWALD inc.</h2>
      </div>
    </div>
  </body>
</html>